---
import { Picture } from "@astrojs/image/components";
import "@fontsource/inter/variable.css";
import "~/styles/index.css";

const { generator, site } = Astro;
const image = new URL("social.png", site);
const { title="HEx", logo, description="Join us at Himalaya Exhibition (HEx) 2023, a premier technical event in Nepal. Experience captivating architecture model demonstrations, competitive coding challenges, engaging musical events, and more. Unleash your potential, gain practical knowledge, and contribute to the technical development of Nepal. Don't miss this transformative event at Himalaya College of Engineering, Chysal-9 Lalitpur" } = Astro.props;
const widths = [128];
---

<!DOCTYPE html>
<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
    <head>
        <!-- Google tag (gtag.js) -->
        <script
            type="text/partytown"
            async
            src="https://www.googletagmanager.com/gtag/js?id=G-GQ9FCLQEHP"
        ></script>
        <script type="text/partytown">
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag("js", new Date());
            gtag("config", "G-GQ9FCLQEHP");
        </script>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
        <meta name="generator" content={generator} />

        <title>{title}: HEx Himalaya</title>
        <meta name="description" content={description} />

        <!-- social media -->
        <meta property="og:title" content="HEx Himalaya" />
        <meta property="og:type" content="website" />
        <meta property="og:description" content={description} />
        <meta property="og:image" content={image} />
        <meta property="og:url" content={site} />
        <meta property="twitter:title" content="HEx Himalaya" />
        <meta property="twitter:description" content={description} />
        <meta property="twitter:image" content={image} />
        <meta name="twitter:card" content="summary_large_image" />

        <!-- initialize theme -->
        <script is:inline>
            const themeSaved = localStorage.getItem("theme");

            if (themeSaved) {
                document.documentElement.dataset.theme = themeSaved;
            } else {
                const prefersDark = window.matchMedia(
                    "(prefers-color-scheme: light)"
                ).matches;
                document.documentElement.dataset.theme = prefersDark
                    ? "light"
                    : "dark";
            }

            window
                .matchMedia("(prefers-color-scheme: light)")
                .addEventListener("change", (event) => {
                    if (!localStorage.getItem("theme")) {
                        document.documentElement.dataset.theme = event.matches
                            ? "light"
                            : "dark";
                    }
                });
        </script>
    </head>

    <body
        class="grid w-full place-content-center bg-default p-4 text-default text-base selection:bg-secondary selection:text-white"
    >
        <article class="prose prose-slate">
            <div
                class="not-prose flex w-full flex-col items-center justify-center gap-4 py-16 sm:flex-row sm:justify-between"
            >
                <div
                    class="aspect-square h-32 w-32 rounded-full border-2 border-current bg-white p-3"
                >
                    <Picture
                        class="h-full w-full object-cover"
                        src={logo}
                        widths={widths}
                        sizes="100vw"
                        alt="The ridged surface of the moon"
                        aspectRatio={1}
                    />
                </div>
                <h1
                    class="gradient-text py-2 text-center font-extrabold tracking-tight text-5xl sm:text-right"
                >
                    {title}
                </h1>
            </div>
            <a href="/" class="text-lg">Return Home</a>
            <!-- <article class="prose md:prose-lg lg:prose-xl prose-headings:underline"> -->
            <slot />
        </article>
    </body>
</html>

<style>
    :root {
        --accent: 124, 58, 237;
        --accent-gradient: linear-gradient(
            45deg,
            rgb(var(--accent)),
            #da62c4 30%,
            white 60%
        );
    }
</style>
