---
import "@fontsource/inter/variable.css";
import "~/styles/index.css";

const { generator, site } = Astro;
const image = new URL("social.png", site);

const {title = "HEx 2023: Technical Festival by Himalaya College of Engineering", description = "Join HEx, the annual technical festival at Himalaya College of Engineering (HCoE). Participate in our signature events like HEX Hackathon, HEX Genius IT Quiz, and Capture The Flag. Experience the blend of innovation and competition." } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
    <head>
        <!-- Google tag (gtag.js) -->
        <script
            type="text/partytown"
            async
            src="https://www.googletagmanager.com/gtag/js?id=G-GQ9FCLQEHP"
        ></script>
        <script type="text/partytown">
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag("js", new Date());
            gtag("config", "G-GQ9FCLQEHP");
        </script>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" href="/favicon." type="image/x-icon" />
        <meta name="generator" content={generator} />

        <title>HEx 2023: Technical Festival by Himalaya College of Engineering</title>
        <meta name="description" content={description} />

        <!-- social media -->
        <meta property="og:title" content={title} />
        <meta property="og:type" content="website" />
        <meta property="og:description" content={description} />
        <meta property="og:image" content={image} />
        <meta property="og:url" content={site} />
        <meta property="twitter:title" content={title} />
        <meta property="twitter:description" content={description} />
        <meta property="twitter:image" content={image} />
        <meta name="twitter:card" content="summary_large_image" />

        <!-- initialize theme -->
        <script is:inline>
            const themeSaved = localStorage.getItem("theme");

            if (themeSaved) {
                document.documentElement.dataset.theme = themeSaved;
            } else {
                const prefersDark = window.matchMedia(
                    "(prefers-color-scheme: light)"
                ).matches;
                document.documentElement.dataset.theme = prefersDark
                    ? "light"
                    : "dark";
            }

            window
                .matchMedia("(prefers-color-scheme: light)")
                .addEventListener("change", (event) => {
                    if (!localStorage.getItem("theme")) {
                        document.documentElement.dataset.theme = event.matches
                            ? "light"
                            : "dark";
                    }
                });
        </script>
    </head>

    <body
        class="h-full overflow-x-hidden bg-default text-default text-base selection:bg-secondary selection:text-white"
    >
        <slot />
    </body>
</html>

<style>
    :root {
        --accent: 124, 58, 237;
        --accent-gradient: linear-gradient(
            45deg,
            rgb(var(--accent)),
            #da62c4 30%,
            white 60%
        );
    }
</style>
